* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-container {
  background-color: rgb(207, 206, 206);
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  width: clamp(200px, 20vw, 300px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.remove-button {
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;

  border: none;

  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darkred;
  }
  &:active {
    background-color: lightcoral;
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid blue;
  }
}

.library {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}
